{% extends 'base.html' %}

{% block style %}
    <style>
        .card{
            background-color: rgba(73, 235, 208, 0.932)
        }
    </style>
{% endblock style %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body">
                    <a class = "btn btn-warning" href="{% url 'home' %}">Back to Home page.</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <form action="" method="post" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        {% for i in form %}
                            {{i.name}} {{i}}
                            <br>
                            <br>
                        {% endfor %}
                        <input class = "btn btn-success" type="submit" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}